body {
    background: rgb(102,102,102);
    background: black;
    font-family: sans-serif,arial;
    color: white;
    font-size: 20px;
}

.main {
    align-items: center;
    display: block;
    position: relative;
    border-style: solid;
    border-color: yellow;
    border-width: 5px;
    text-align: center;
    padding: 5vh;
}

.outer {
    width: 500px;
    margin: 5vh auto;
}

/*seraphine img*/
#seraphina {
    margin:5px;
    height: 150px;
}

/*title txt*/
.about {
    font-size: 30px;
    color: rgba(0,111,255,1);
}

/*smaller txt*/
#s {
    font-size: 15px;
}

ul {
    text-align: center;
    table-layout: fixed;
    padding-left: 1px; 
}
li {
    display: inline;
    font-size: 20px;
}

/*link colour*/
a {
    color: white;
}

.txt {
    text-align: left;
}