body {
    background: rgb(102,102,102);
    background: linear-gradient(90deg, rgba(102,102,102,1) 0%, rgba(0,111,255,1) 100%);
    font-family: sans-serif,arial;
    color: black;
    font-size: 20px;
}

.main {
    align-items: center;
    width: 55vh;
    background: white;
    border-style: hidden solid;
    text-align: center;
    margin: 10vh;
    padding: 5vh;
}

.outer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*seraphine img*/
#seraphina {
    margin:5px;
    height: 150px;
}

/*title txt*/
.about {
    font-size: 30px;
    color: rgba(0,111,255,1);
}

/*smaller txt*/
#s {
    font-size: 15px;
}

ul {
    text-align: center;
    table-layout: fixed;
    padding-left: 1px; 
}
li {
    display: inline;
    font-size: 20px;
}

/*link colour*/
a {
    color: black;
}

.txt {
    text-align: left;
}

.tableCenter{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 10px;
}

/*Menu buttons < | >*/
#buttons{
    font-size: 30px;
}